<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>
            Creation World
        </h1>
        <h2>
            Join us to explore the World
        </h2>
    </div>

    <div class="msg">
        <% for (m of msg) {%>
            <h5>
                <%= m.from %>
            </h5>
            <h3>
                <%= m.msg %>
            </h3>
            <h5>
                <%= m.to %>
            </h5>
    </div>
    <% } %>


</body>
</html>